{% extends "base.html" %}
{% block title %}SB Boardinator Task Page {% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block initscript %}
<script src="/media/js/taskAPI.js" type="text/javascript"></script>   
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h1>Calendar <small>Overview</small></h1>
			<ol class="breadcrumb">	
			  <li class="active"><i class="fa fa-table"></i> My Calendar</li>
			</ol>           
	</div>
</div>

<div class='row'>
	  <div class='col-sm-3' id='events'>
	    <div class='box'>
	      <div class='box-header'><div class='title'>Tasks List</div></div>
	      <div class='box-content'>
	        <div class='label label-danger external-event data-event-class'>Task 1</div>
	        <div class='label label-warning external-event data-event-class'>Task 2</div>
	        <div class='label label-success external-event data-event-class'>Task 3 </div>
	        <hr class='hr-normal'>
	        <label class='checkbox'>
	          <input id='calendar-remove-after-drop' type='checkbox' value='option1'>
	          Remove after drop?
	        </label>
	        <hr class='hr-normal'>
	        <form id="new-event" style="margin-bottom:0;">
	        	<div class='form-group'>
		          <input class='form-control' id='new-event-input' placeholder='Task Name' type='text'>
		        </div>
		        <button id="newTask" class='btn btn-primary btn-block'><i class='fa fa-plus'></i> Create New Task</button>
	        </form>
	      </div>
	    </div>
	  </div>
	  <div class='col-sm-9'>
	    <div class='box'>
	      <div class='box-header'>
	        <div class='title'>My Tasks Due Dates</div>
	      </div>
	      <div class='box-content'>
	        <div class='full-calendar'></div>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
      (function() {
        var cal,
            calendarDate = new Date(),
            d = calendarDate.getDate(),
            m = calendarDate.getMonth(),
            y = calendarDate.getFullYear();

        this.setDraggableEvents = function() {
          return $("#events .external-event").each(function() {
            var eventObject;
            eventObject = {
              title: $.trim($(this).text())
            };
            $(this).data("eventObject", eventObject);
            return $(this).draggable({
              zIndex: 999,
              revert: true,
              revertDuration: 0
            });
          });
        };

        setDraggableEvents();

        cal = $(".full-calendar").fullCalendar({
          header: {
            center: "title",
            left: "basicDay,basicWeek,month",
            right: "prev,today,next"
          },
          buttonText: {
            prev: "<span class=\"fa fa-arrow-circle-left\"></span>",
            next: "<span class=\"fa fa-arrow-circle-right\"></span>",
            today: "Today",
            basicDay: "Day",
            basicWeek: "Week",
            month: "Month"
          },
          droppable: true,
          editable: true,
          selectable: true,
          select: function(start, end, allDay) {
            return bootbox.prompt("Event title", function(title) {
              if (title !== null) {
                cal.fullCalendar("renderEvent", {
                  title: title,
                  start: start,
                  end: end,
                  allDay: allDay
                }, true);
                return cal.fullCalendar('unselect');
              }
            });
          },
          eventClick: function(calEvent, jsEvent, view) {
            return bootbox.dialog({
              message: $("<form class='form'><label>Change event name</label></form><input id='new-event-title' class='form-control' type='text' value='" + calEvent.title + "' /> "),
              buttons: {
                "delete": {
                  label: "<i class='icon-trash'></i> Delete Event",
                  className: "pull-left",
                  callback: function() {
                    return cal.fullCalendar("removeEvents", function(ev) {
                      return ev._id === calEvent._id;
                    });
                  }
                },
                success: {
                  label: "<i class='icon-save'></i> Save",
                  className: "btn-success",
                  callback: function() {
                    calEvent.title = $("#new-event-title").val();
                    return cal.fullCalendar('updateEvent', calEvent);
                  }
                }
              }
            });
          },
          drop: function(date, allDay) {
            var copiedEventObject, eventClass, originalEventObject;
            originalEventObject = $(this).data("eventObject");
            originalEventObject.id = Math.floor(Math.random() * 99999);
            eventClass = $(this).attr('data-event-class');
            console.log(originalEventObject);
            copiedEventObject = $.extend({}, originalEventObject);
            copiedEventObject.start = date;
            copiedEventObject.allDay = allDay;
            if (eventClass) {
              copiedEventObject["className"] = [eventClass];
            }
            $(".full-calendar").fullCalendar("renderEvent", copiedEventObject, true);
            if ($("#calendar-remove-after-drop").is(":checked")) {
              return $(this).remove();
            }
          },
          events: [
            {
              id: "event1",
              title: "All Day Event",
              start: new Date(y, m, 1),
              className: 'event-orange'
            }, {
              id: "event2",
              title: "Long Event",
              start: new Date(y, m, d - 5),
              end: new Date(y, m, d - 2),
              className: "event-red"
            }, {
              id: 999,
              id: "event3",
              title: "Repeating Event",
              start: new Date(y, m, d - 3, 16, 0),
              allDay: false,
              className: "event-blue"
            }, {
              id: 999,
              id: "event3",
              title: "Repeating Event",
              start: new Date(y, m, d + 4, 16, 0),
              allDay: false,
              className: "event-green"
            }, {
              id: "event4",
              title: "Meeting",
              start: new Date(y, m, d, 10, 30),
              allDay: false,
              className: "event-orange"
            }, {
              id: "event5",
              title: "Lunch",
              start: new Date(y, m, d, 12, 0),
              end: new Date(y, m, d, 14, 0),
              allDay: false,
              className: "event-red"
            }, {
              id: "event6",
              title: "Birthday Party",
              start: new Date(y, m, d + 1, 19, 0),
              end: new Date(y, m, d + 1, 22, 30),
              allDay: false,
              className: "event-purple"
            }
          ]
        });

      }).call(this);

      $("#new-event").live('submit', function(e) {
        e.preventDefault();            
        var value = $("#new-event-input").val();
        if (value.length > 0) {
          $("#events .box-content").prepend("<div class='label label-danger external-event'>" + value + "</div>");
          $("#new-event-input").val("");
          return setDraggableEvents();
        }
      });

		  // $("#newTask").click(function() {
				//   console.log("Running");
    //       var result = [];
				        		   						
    // 	});

    </script>
{% endblock %}
