<div class="row">
  <div class="col-lg-12">
    <h1>Task Management<small> Overview</small></h1>
    <button type="submit" class="btn btn-large btn-primary float-right" ng-click="task={}; showTaskForm=true; showTaskList=false;"><i class="fa fa-pencil"></i> Create a New Task</button>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-calendar"></i> This is the place to Manage & Assign Tasks</li>
    </ol>    
  </div>
</div>

<div class="row" ng-show="showTaskList && tasks"> 
  <div class="col-lg-12">
    <h3>Current Assignee Tasks:</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-money"></i> Manage your current Assignee Tasks:</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
            <thead>
              <tr>
                <th>Assignee <i class="fa fa-sort"></i></th>
                <th>Title</th>
                <th>Due Date <i class="fa fa-calendar-o"></i></th>
                <th>Task Description <i class="fa fa-book"></i></th>                
                <th>Edit <i class="fa fa-pencil-square-o"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="tasks.length > 0" ng-repeat="task in tasks | orderBy: priority">
                <td>{{ task.assignee }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.dueDate }}</td>
                <td>{{ task.description }}</td>                
                <td><a ng-click="editTask(task);">Edit <i class="fa fa-pencil-square-o"></i></td>
              </tr>
              <tr ng-if="tasks.length===0">
                <td colspan="6">You currently don't have any assigned Tasks!</td>
              </tr>           
            </tbody>
          </table>
        </div>        
      </div>
    </div>
  </div>
</div>

<div class='row' ng-show="showTaskForm">
  <div class='col-lg-12'>
    <div class='box bordered-box blue-border box-nomargin'>    
      <div class='box-content'>
        <form name="taskForm" novalidate>          
          <div class="form-group">
            <label>Task Title</label>
            <input ng-model="task.name" class="form-control" placeholder="Enter your Task Name" required>
          </div>
          <div class="form-group">
            <label>Task Description</label>
            <textarea ng-model="task.description" class="form-control" rows="2" placeholder="Please briefly describe your task..." required></textarea>
          </div>
          <div class="form-group">
          	<label>Assignee</label>
          	<input ng-model="task.assignee" class="form-control" placeholder="Who would you like to assign this Task to? (Name or Email)" required>
          </div> 
          <div class="form-group">
            <label>Task due date:</label>
            <div class='input-group date' id='datetimepicker'>              
              <input ng-model="task.dueDate" type='text' class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" />
              <span class="input-group-addon"><span class="fa fa-calendar"></span></span>              
            </div>
          </div>                
          <button type="submit" class="btn btn-large btn-primary" ng-disabled="taskForm.$invalid" ng-click="submitTaskForm(task); showTaskForm=false; showTaskList=true;"><i class="fa fa-floppy-o"></i> Create New Task</button>
          <button type="submit" class="btn btn-large btn-danger" ng-click="showTaskForm=false; showTaskList=true;"><i class="fa fa-times"></i> Cancel</button>  
        </form>       
      </div>
    </div>
  </div>           
</div>

